*{
background: rgb(163, 163, 163);
    /* background-color: rgb(14, 14, 14);; */

}
.bigScreen {
    position: absolute;
    margin-top: 0px;
    width:475px;
    height:350px;
    background-color: rgb(14, 14, 14);;
    margin-left: 190px;
    border-radius: 25px;
    text-align: center;
    padding-top: 50px;
}
.main-screen{

    background-color: rgb(122, 99, 117);
    height: 350px;
    width: 1350px;
    margin-left: 76px;
    

}
.hr1{
    position: absolute;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin-left: 830px;
    top: 200px;
    border-top: 30px solid rgb(31, 31, 31);
    border-radius: 5px;
}
.hr2 {
    position: absolute;
    border-top: 1px solid #000;
    margin-left: 830px;
    top: 350px;
    border-top: 50px solid rgb(31, 31, 31);
    border-radius: 5px;
}
.hr3{
    border-top: 1px solid #000;
    position: relative;
    top: 500px;
    margin-left: 830px;
    border-top: 50px solid rgb(31, 31, 31);
    z-index: 1;
}
.sign{
    position: absolute;
    background-color: rgb(59, 45, 56);
    height: 30px;
    width: 400px;
    top:25px;
    margin-left: 500px; 
    text-align: center;
    
}
#circle {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgb(31, 31, 31);
    margin-left: 1120px;
    top: 185px;
  }
.keypad{
    margin-left: 50px;
}
.options{
    padding: 25px;
    background-color: rgb(48, 48, 48);
    color: blanchedalmond;
    border-radius: 20%;
}
.keys{
    width: 70px;
    padding: 20px 0;
    background-color: rgb(48, 48, 48);
    color: blanchedalmond;
    border-radius: 20%;
}
.b1 {
  position: absolute;
    top: 120px;
    margin-left: 100px;
}
.b2 {
    position: absolute;
    top: 200px;
    margin-left: 100px;
}
.b3 {
    position: absolute;
    top: 280px;
    margin-left: 100px;
}
.b4 {
    position: absolute;
    top: 360px;
    margin-left: 100px;
}
/* .b5{
    position: absolute;
    top: 280px;
    margin-left: 700px;
}
.b6{
    position: absolute;
    top: 380px;
    margin-left: 700px;
} */
.k1{
    position: absolute;
    margin-top:30px;
    margin-left: 130px;

}
.k4{
    position: absolute;
    margin-top:100px;
    margin-left: 130px;
}
.k7{
    position: absolute;
    margin-top:170px;
    margin-left: 130px;
}

.k2{
    position: absolute;
    margin-top:30px;
    margin-left: 210px;
}
.k3{
    position: absolute;
    margin-top:30px;
    margin-left: 290px;
}
.k5{
    position: absolute;
    margin-top:100px;
    margin-left: 210px;
}
.k6{
    position: absolute;
    margin-top:100px;
    margin-left: 290px;
}
.k8{
    position: absolute;
    margin-top:170px;
    margin-left: 210px;
}
.k9{
    position: absolute;
    margin-top:170px;
    margin-left: 290px;
}
.k0 {
    position: absolute;
    margin-top:240px;
    margin-left: 290px;
}
.kPeriod {
    position: absolute;
    margin-top:240px;
    margin-left: 210px;
}
.k00{
    position: absolute;
    margin-top:240px;
    margin-left: 130px;
}
.enter{
    position: absolute;
    margin-top: 240px;
    margin-left: 370px;
    background-color: rgb(19, 128, 0);
    padding: 25px;
    color: #fff;
    border-radius: 20%;
}
.clear{
    position: absolute;
    margin-top: 170px;
    margin-left: 370px;
    background-color: rgb(206, 221, 0);
    padding: 25px;
    color: #fff;
    border-radius: 20%;
}
.delete{
    position: absolute;
    margin-top: 100px;
    margin-left: 370px;
    background-color: rgb(255, 24, 24);
    padding: 25px;
    color: #fff;
    border-radius: 20%;
}
.trapezoid {
    position: relative;
    height: 345px;
    width: 1425px;
    margin-left: 40px;
    background: rgb(70, 52, 66);
    transform: perspective(56px) rotateX(1deg);
    margin-top: -15px;
    /* border-radius: 20px; */
}
.top{
    margin-top: -5px;
    /* border-radius: 20px; */
    background-color: rgb(70, 52, 66);
    height: 100px;
    width: 1446px;
    margin-left: 29px;;
    transform: perspective(56px) rotateX(175deg);
    margin-bottom: -14px;
}
.card-slot{
    background-color: #fff;
    height: 20px;
    width: 130px;
    margin-left: 900px;
    margin-top: 50px;

}
.welcome{
    margin-top: 50px;
}